@charset "UTF-8";
/* CSS Document */

/**** STYLE GENERAL ****/

.spacer{
	height: 20px;
}

.actions a {
	color: inherit;
	margin: auto 3px;
	font-size: 15px;
}

.actions .btn-danger{
	color: #fff;
}

.actions-right, .action-right{
	float: right;
	margin-top: 24px;
}

.action-right i{
	margin-right: 4px;
}

.separator{
	margin: 0 6px;
}

table a{
	color: #3b85b3;
}

a.widget-user-username{
	color: inherit;
}

.widget-user-header .actions-right
{
	margin-top: 0;
}

ul.dashboard-quick-actions li{
	margin-bottom: 25px;
}

ul.dashboard-quick-actions i{
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 30px;
}

ul.dashboard-quick-actions li a{
	min-height: 125px;
}

.title-heading{
	border-bottom: 1px solid #ddd;
	width: 100%;
	margin-bottom: 10px;
}

.label-default a{
	color: #888;
	margin-left: 3px;
}

.btn-success.btn-box-tool{
	color: #fff;
}

.btn-app-dashboard{
	width: 30%;
	min-height: 80px;
	font-size: 14px;
}

.btn-app-dashboard i.fa{
	font-size: 24px;
	margin-bottom: 7px;
}


.logo-lg img{
	margin-right: 10px;
	margin-top: -5px;
}

.course-teacher-box .box{
	min-height: 280px;
}

.cke_editable_inline{
	border: 1px dashed grey;
	min-height: 100px;
	background-color: #f2f5f8;
	padding: 5px;
}