.actions i.fa{
    margin-left: 10px;
}

.spacer{
    height: 30px;
}

.row-centered {
    text-align: center;
    display: table-row;
}

.col-centered {
    display: table-cell;
    float: none;
    vertical-align: top;
}